html,
body {
  font-family: Verdana, Calibri, "Trebuchet MS", sans-serif;
  width: 100%;
  max-width: 100%;
  /* width: 100vw; */
  font-size: 18px;
  color: black;
  background-color: rgb(224, 227, 220);
  margin: 0px;
  overflow-x: hidden;
}

table {
  width: 100%;
  /* width: 100vw; */
  padding: 18px;
}

.group-header {
  padding-top: 18px;
  text-align: left;
  font-weight: bold;
}

.subgroup-header {
  font-weight: normal;
  text-align: right;
  /* padding-right: 54px; */
  padding-top: 2px;
  /* padding-bottom: 3px; */
  padding-right: 46px;
}

.subgroup-header > span {
  border-bottom: 1px solid black;
}

/* .item {

} */

.item-name {
  text-align: right;
  padding-right: 18px;
}

/* .item-price {
  text-align: right;
} */
