html,
body {
  font-family: Verdana, "Trebuchet MS", sans-serif;
  width: 100%;
  max-width: 100%;
  font-size: 16px;
  margin: 0px;
  overflow-x: hidden;
  color: black;
  background-color: rgb(214, 212, 196);
}

.header-container {
  padding: 16px;
  text-align: center;
  font-size: 16px;
}

.title {
  font-weight: bold;
  text-decoration: underline;
  display: inline-block;
  transform: scale(1, 0.75);
  -webkit-transform: scale(1, 0.75); /* Safari and Chrome */
  -moz-transform: scale(1, 0.75); /* Firefox */
  -ms-transform: scale(1, 0.75); /* IE 9+ */
  -o-transform: scale(1, 0.75); /* Opera */
}

.emoticon {
  font-size: 60px;
}

table {
  width: 100%;
  padding: 8px;
  padding-right: 14px;
  border-collapse: separate;
  border-spacing: 0px;
}

.group-header {
  text-align: left;
  font-weight: bold;
  display: flex;
  justify-content: flex-start;
  /* align-items: center; */
}

.group-header > span {
  display: inline-block;
  transform: scale(1, 0.8);
  -webkit-transform: scale(1, 0.8); /* Safari and Chrome */
  -moz-transform: scale(1, 0.8); /* Firefox */
  -ms-transform: scale(1, 0.8); /* IE 9+ */
  -o-transform: scale(1, 0.8); /* Opera */
}
.group-header > span:first-child {
  font-size: 16px;
}
.group-header > span:nth-child(3) {
  font-size: 13px;
}
.group-header > span:nth-child(5) {
  font-size: 10px;
}

.subgroup-header {
  font-weight: normal;
  text-align: right;
  /* padding-top: 2px; */
}

.subgroup-header > span:first-child {
  /* border-bottom: 1px solid black; */
}

/* .item {
} */

.item-name {
  text-align: right;
}

.item-price {
  text-align: right;
}

.color-subcategory {
  color: #8d6d4f;
}

.color-price {
  color: rgb(160, 113, 44);
}
